{% extends 'mod1/base3.html' %}
{% block body %}
                 <iframe width="560" height="315" src="https://www.youtube.com/embed/K8gSaS_E4JM" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
               </div>
            </div>    
            <div style="font-size: 20px; text-align: justify;">  
              Microsoft SQL Server® is a relational database management system developed by Microsoft. Amazon RDS for SQL Server makes it easy to set up, operate, and scale SQL Server deployments in the cloud. With Amazon RDS, you can deploy multiple editions of SQL Server (2008 R2, 2012, 2014, 2016, and 2017) including Express, Web, Standard and Enterprise, in minutes with cost-efficient and re-sizable compute capacity. Amazon RDS frees you up to focus on application development by managing time-consuming database administration tasks including provisioning, backups, software patching, monitoring, and hardware scaling.<br/>
              Amazon Web Services offers you the flexibility to run Microsoft SQL Server for as much or as little time as you need. You can select from a number of versions and editions, as well as choose between running it on Amazon Elastic Compute Cloud (Amazon EC2) or Amazon Relational Database Service (Amazon RDS).<br/>

              Using SQL Server on Amazon EC2 gives you complete control over every setting, just like when it’s installed on-premises. Amazon RDS is a fully managed service that takes care of all the maintenance, backups, and patching for you.<br/>
              <h3>Customers</h3>
              Rovio, Prezi, Outsystems, Hearst corporation etc.   
 {% endblock %}